package layout

templ Header() {
  @HeaderStyle()
  <div class="header">
    @Menu()
    { children... }
  </div>
}

templ HeaderStyle() {
  <style>
    .header {
      display: flex;
      justify-items: center;
      flex-direction: column;
      background: #222222;
      align-items: center;
    }
  </style>
}
