package views

import "go-pet-projects/fiber/views/components"
import "go-pet-projects/fiber/views/layout"

templ Main() {
  @layout.Layout(layout.LayoutProps{
    Title: "Найди работу своей мечты",
    MetaDescription: "Сайт по поиску работы мечты",
  }) {
    <main>
      @layout.Header() {
      @components.Title("Найди работу своей мечты")
      @components.SubTitle("Простой поиск работы")
    }
    Main
    </main>
  }

}
